@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Merienda:700|Sriracha&display=swap');

.App {
    text-align: center;
    
    font-family: 'Merienda', cursive;
     font-size: 30px;
     background: url(./image/snacks.png);
     background-position: center;;
     background-repeat: no-repeat;
     background-color: rgba(85,181,171,.2);
}
    ul {
        list-style: none;

    }

